#wertiview-toolbar {
    background: #d6d8db;
    padding: 6px;
}

.wertiview-toolbar-menu {
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: white;
}

.wertiview-toolbar-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.wertiview-toolbar-btn:hover:not(:disabled),
.wertiview-toolbar-btn:focus:not(:disabled) {
    background-color: #3e8e41;
}

#wertiview-toolbar-enhance-button:disabled {
    opacity: 0.5;
    cursor: initial;
}

.wertiview-toolbar-dropdown {
    position: relative;
    display: inline-block;
}

#wertiview-toolbar-filter-no-filter {
    display: none;
}

#wertiview-toolbar-enabled {
    background-color: #ff7f2a;
}

#wertiview-toolbar-disabled {
    background-color: red;
}

#wertiview-toolbar-loading {
    display: inline;
}

#wertiview-toolbar-loading img{
    width: 18px;
}

#wertiview-toolbar-account-sign-in-button,
#wertiview-toolbar-account-menu-button {
    right: 50px;
    position: absolute;
}

#wertiview-toolbar-account-menu-button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;
}

#wertiview-toolbar-toggle-button {
    right: 6px;
    position: absolute;
}