#wertiview-toolbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    border-top: solid 2px;
    display:none;
}

#wertiview-container.margin-at-bottom {
    margin-bottom: 47px;
}

#wertiview-content {
    position: relative;
    overflow: auto;
}

/* the overlay style when the page gets blurred */
#wertiview-blur {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    opacity: 0.9;
    z-index: 9999999998;
    padding-top: 5%;
    text-align: center;
}

#wertiview-blur-html {
    font-size: 60px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

#wertiview-blur-loading {
    border: 50px solid #f3f3f3;
    border-top: 50px solid #4CAF50;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 9999999999;
    box-sizing: unset;
}

/* Show and hide signs for assistive reading */
.show {
    cursor: pointer;
}

.hide {
    cursor: pointer;
}

.click-style-correct {
    color: green;
    font-weight: bold;
    cursor: text;
}

.click-style-incorrect {
    color: red;
    font-weight: bold;
    cursor: text;
}

.click-style-pointer {
    cursor: pointer;
}

.cloze-style-input {
    width: 50px;
    font-size: 15px;
    border: 1px solid grey;
    font-weight: bold;
}

.cloze-style-input-adjust {
    width: 70px;
    font-size: 15px;
    font-weight: bold;
}

.cloze-style-input-unknown {
    border: 1px solid gray;
    color: black;
}

.cloze-style-input-incorrect {
    color: red;
}

.view-style-hint {
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 90%;
    color: grey;
}

.input-style-provided {
    color: black;
    cursor: text;
    font-weight: bold;
}

.input-style-correct {
    color: green;
    cursor: text;
    font-weight: bold;
}

.input-style-incorrect {
    color: red;
}

.input-style-neutral {
    color: black;
}

/* gerunds */
.colorize-style-GER {
    color: #FF8200;
    font-weight: bold;
}

.colorize-style-INF {
    color: #9331C4;
    font-weight: bold;
}

.colorize-style-INFSPLIT {
    color: black;
    font-weight: bold;
}

.colorize-style-CLU {
    color: #2756E3;
    font-weight: bold;
}

.cloze-style-baseform {
    font-style: italic;
}

/* Used for the topic Russian Participles */
.cloze-style-rephrase {
    font-style: italic;
}

/* nouncountability */
.colorize-style-count {
    color: #2756E3;
    font-weight: bold;
}

.colorize-style-noncount {
    color: #FF8200;
    font-weight: bold;
}

.colorize-style-both {
    color: #9331C4;
    font-weight: bold;
}

.mc-style-Hhighlight {
    font-weight: bold;
}

.mc-style-answer {
    font-weight: normal;
    font-style: italic;
}

/* passives */
.colorize-style-passives {
    color: #FF8200;
    font-weight: bold;
}

.cloze-style-passive-conversion {
    font-style: italic;
}

/* konjunktiv */
.colorize-style-konjunktivMain {
    color: #9331C4;
    font-weight: bold;
}

.colorize-style-konjunktivHaben {
    color: #9331C4;
    font-weight: bold;
}

.colorize-style-konjunktivWuerden {
    color: #2756E3;
    font-weight: bold;
}

/* phrasal verbs */
.colorize-style-verb {
    color: #FF8200;
    font-weight: bold;
}

.colorize-style-particle {
    color: #2756E3;
    font-weight: bold;
}

/* pos */
.colorize-style-articles {
    color: #ff8200;
    font-weight: bold;
}

.colorize-style-determiners {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-gerunds {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-adjCompSuperl {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-allSimpleVerbs {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-passiveVsActiveInPast {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-plusqVsPerf {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-simPastPastProg {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-simPastPresPerfPastProg {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-simplePast {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-simPresPresProg {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-whoWhich {
    color: #2222FF;
    font-weight: bold;
}

.colorize-style-willWouldHaveHad {
    color: #2222FF;
    font-weight: bold;
}
.colorize-style-preps {
    color: #A020F0;
    font-weight: bold;
}

/* ser vs. estar */
.colorize-style-ser {
    color: #FF8200;
    font-weight: bold;
}

.colorize-style-estar {
    color: #2756E3;
    font-weight: bold;
}

/* whquestions */
.colorize-style-WHS {
    color: #9331C4;
    font-weight: bold;
}

.colorize-style-WH {
    color: #2756E3;
    font-weight: bold;
}

.colorize-style-SUBJ {
    color: #8B0000;
    font-weight: bold;
}

.colorize-style-MVERB {
    color: #FF8200;
    font-weight: bold;
}

.colorize-style-NFIN {
    color: #FF8200;
    font-weight: bold;
}

.colorize-style-AUX {
    color: #FF8200;
    font-weight: bold;
}

.click-style-WHS {
    border: 2px solid #1E90FF;
}

.click-style-WH {
    border: 2px solid #0000FF;
}

.click-style-SUBJ {
    border: 2px solid #8B0000;
}

.click-style-MVERB {
    border: 2px solid #FF4500;
}

.click-style-NFIN {
    border: 2px solid #FF4500;
}

.click-style-AUX {
    border: 2px solid #FF4500;
}

.cloze-style-node {
    text-decoration: underline;
    padding: 4px;
    cursor: pointer;
}

/* Russian Nouns */
.colorize-style-nouns {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Participles */
.colorize-style-participles {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Verbs perfective Aspect */
.colorize-style-verb-perfective-aspect {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Verbs imperfective Aspect */
.colorize-style-verb-imperfective-aspect {
    color: #A020F0;
    font-weight: bold;
}

/* Russian Perfective Verbs */
.colorize-style-verb-perfective {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Imperfective Verbs */
.colorize-style-verb-imperfective {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Word Stress */
.colorize-style-word-stress {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Past Tense Verbs */
.colorize-style-verb-past-tense {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Present Tense Verbs */
.colorize-style-verb-present-tense {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Adjectives */
.colorize-style-adjectives {
    color: #FF8200;
    font-weight: bold;
}

/* Russian Assistive Reading */
.colorize-style-assistive-reading {
    color: #FF8200;
    font-weight: bold;
}

/* Conditionals (en) */
.colorize-style-conditionals {
    color: green;
    font-weight: bold;
}

/* Opentip tooltips for study feature*/
.opentip-container,
.opentip-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.opentip-container {
  position: absolute;
  max-width: 300px;
  z-index: 100;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  pointer-events: none;
  -webkit-transform: translateX(0) translateY(0);
  -moz-transform: translateX(0) translateY(0);
  -o-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}
.opentip-container.ot-fixed.ot-hidden.stem-top.stem-center,
.opentip-container.ot-fixed.ot-going-to-show.stem-top.stem-center,
.opentip-container.ot-fixed.ot-hiding.stem-top.stem-center {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-top.stem-right,
.opentip-container.ot-fixed.ot-going-to-show.stem-top.stem-right,
.opentip-container.ot-fixed.ot-hiding.stem-top.stem-right {
  -webkit-transform: translateY(-5px) translateX(5px);
  -moz-transform: translateY(-5px) translateX(5px);
  -o-transform: translateY(-5px) translateX(5px);
  -ms-transform: translateY(-5px) translateX(5px);
  transform: translateY(-5px) translateX(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-middle.stem-right,
.opentip-container.ot-fixed.ot-going-to-show.stem-middle.stem-right,
.opentip-container.ot-fixed.ot-hiding.stem-middle.stem-right {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-bottom.stem-right,
.opentip-container.ot-fixed.ot-going-to-show.stem-bottom.stem-right,
.opentip-container.ot-fixed.ot-hiding.stem-bottom.stem-right {
  -webkit-transform: translateY(5px) translateX(5px);
  -moz-transform: translateY(5px) translateX(5px);
  -o-transform: translateY(5px) translateX(5px);
  -ms-transform: translateY(5px) translateX(5px);
  transform: translateY(5px) translateX(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-bottom.stem-center,
.opentip-container.ot-fixed.ot-going-to-show.stem-bottom.stem-center,
.opentip-container.ot-fixed.ot-hiding.stem-bottom.stem-center {
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -o-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-bottom.stem-left,
.opentip-container.ot-fixed.ot-going-to-show.stem-bottom.stem-left,
.opentip-container.ot-fixed.ot-hiding.stem-bottom.stem-left {
  -webkit-transform: translateY(5px) translateX(-5px);
  -moz-transform: translateY(5px) translateX(-5px);
  -o-transform: translateY(5px) translateX(-5px);
  -ms-transform: translateY(5px) translateX(-5px);
  transform: translateY(5px) translateX(-5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-middle.stem-left,
.opentip-container.ot-fixed.ot-going-to-show.stem-middle.stem-left,
.opentip-container.ot-fixed.ot-hiding.stem-middle.stem-left {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}
.opentip-container.ot-fixed.ot-hidden.stem-top.stem-left,
.opentip-container.ot-fixed.ot-going-to-show.stem-top.stem-left,
.opentip-container.ot-fixed.ot-hiding.stem-top.stem-left {
  -webkit-transform: translateY(-5px) translateX(-5px);
  -moz-transform: translateY(-5px) translateX(-5px);
  -o-transform: translateY(-5px) translateX(-5px);
  -ms-transform: translateY(-5px) translateX(-5px);
  transform: translateY(-5px) translateX(-5px);
}
.opentip-container.ot-fixed .opentip {
  pointer-events: auto;
}
.opentip-container.ot-hidden {
  display: none;
}
.opentip-container .opentip {
  position: relative;
  font-size: 13px;
  line-height: 120%;
  padding: 9px 14px;
  color: #4f4b47;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.2);
}
.opentip-container .opentip .header {
  margin: 0;
  padding: 0;
}
.opentip-container .opentip .ot-close {
  pointer-events: auto;
  display: block;
  position: absolute;
  top: -12px;
  left: 60px;
  color: rgba(0,0,0,0.5);
  background: rgba(0,0,0,0);
  text-decoration: none;
}
.opentip-container .opentip .ot-close span {
  display: none;
}
.opentip-container .opentip .ot-loading-indicator {
  display: none;
}
.opentip-container.ot-loading .ot-loading-indicator {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  display: block;
}
.opentip-container.ot-loading .ot-loading-indicator span {
  display: block;
  -webkit-animation: otloading 2s linear infinite;
  -moz-animation: otloading 2s linear infinite;
  -o-animation: otloading 2s linear infinite;
  -ms-animation: otloading 2s linear infinite;
  animation: otloading 2s linear infinite;
  text-align: center;
}
.opentip-container.style-dark .opentip,
.opentip-container.style-alert .opentip {
  color: #f8f8f8;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
.opentip-container.style-glass .opentip {
  padding: 15px 25px;
  color: #317cc5;
  text-shadow: 1px 1px 8px rgba(0,94,153,0.3);
}
.opentip-container.ot-hide-effect-fade {
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.opentip-container.ot-hide-effect-fade.ot-hiding {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.opentip-container.ot-show-effect-appear.ot-going-to-show,
.opentip-container.ot-show-effect-appear.ot-showing {
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  -ms-transition: -ms-transform 0.5s ease-in-out, opacity 1s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}
.opentip-container.ot-show-effect-appear.ot-going-to-show {
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.opentip-container.ot-show-effect-appear.ot-showing {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.opentip-container.ot-show-effect-appear.ot-visible {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@-moz-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes otloading {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
span.def-wrapped-31245 {
    border-bottom: 1px dashed #999;
    text-decoration: none;
}
.opentip-definition-table-31245{
    border-collapse: separate;
    font-size: 14px;
    font-family: Tahoma;
    line-height: 22px;
    border-spacing: 0px;
    direction: ltr;
}
.opentip-definition-container-31245{
    overflow: auto;
    max-height: 500px;
}
.opentip-definition-table-31245 th{
    text-align: center;
    padding: 10px;
}
.opentip-definition-table-31245 td, th{
    font-size: 14px;
    line-height: 20px;
    direction: ltr;
    font-family: Tahoma;
    vertical-align: top;
    padding: 7px;
    font-weight: normal;
}
.opentip-definition-table-31245 .arabic-text-31245{
    font-family: initial;
    font-size: 18px;
}
